<div class="card">
    <div class="card-body">
        <div class="h2">
            {{ author.get_full_name}}
        </div>
        <div class="h3 text-muted">
            @{{ author.username }}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                Подписчиков: {{ author.following.count }} <br /> {# Надо исправить: Сюда и строкой ниже вставляем живые значения #}
                Подписан: {{ author.follower.count }}
            </div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">
                Записей: {{ posts_count }}
            </div>
        </li>
    </ul>
</div>
