{# Мне очень не нравится, что инклуды лежат в той же папке, что и обычные шаблоны. #}
{# Обсудили с авторами, они согласны и взяли в работу переделку на отдельную папку с инклудами #}
{# Советуем студентам унести в отдельную папку все инклуды #}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    {# Тут в теории просто ссылки типа /abc/, но я поставил таск, должны поправить, студентам рекомендуем исправить #}
    <p class="m-0 text-dark text-center "><a href="{% url 'about:author' %}">Об авторе</a> - <a href="{% url 'about:tech' %}">Технологии</a></p>
    <p class="m-0 text-dark text-center ">Социальная сеть <span style="color:red">Ya</span>tube</p>
</footer>
