{% load static %}

<head>
    <style>
        .active-nav {
            background-color: #6831C4 !important;
        }
    </style>
</head>

<header>
    <nav class="navbar navbar-light" style="background-color: #8657DF">
        <div class="container">
            <a class="navbar-brand" href="{% url 'posts' %}">
                <img src="{% static 'image/SayHi.svg' %}" width="100" height="55" class="d-inline-block align-top" alt="">
            </a>
            {% with request.resolver_match.view_name as view_name %}
            <ul  class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link link-light {% if view_name  == 'about:tech' %}active-nav{% endif %}" href="{% url 'about:tech' %}">SayHi?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light {% if view_name  == 'posts' %}active-nav{% endif %}" href="{% url 'posts' %}">Новости</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link link-light {% if view_name  == 'new_post' %}active-nav{% endif %}" href="{% url 'new_post' %}"><img src="{% static 'image/letter.png' %}" width="25" height="25" class="" alt=""> Написать новость </a>
                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button link-light" class="btn btn-outline-light  dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'image/user.png' %}" width="25" height="25" class="" alt="">
                            {{ user.username }}

                        </button>

                        <ul class="dropdown-menu nav-item">
                            <li>
                                <a class="dropdown-item" href="{% url 'profile' request.user.username %}">Моя страница</a>
                            </li>
                            <li>
                                <a class="dropdown-item
                                   {% if view_name  == 'password_change' %}
                                        
                                   {% endif %}" href="{% url 'password_change' %}">Изменить пароль</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                            </li>
                        </ul>
                    </div>

                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link link-light {% if view_name  == 'login' %}active-nav{% endif %}" href="{% url 'login' %}">Войти</a>
                </li>

                <a class="nav-link link-light" href="#">/</a>

                <li class="nav-item">
                    <a class="nav-link link-light {% if view_name  == 'signup' %}active-nav{% endif %}" href="{% url 'signup' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
        </div>
    </nav>
</header>