<article>
    <div class="card-footer">
        <small class="text-muted">Дата публикации: {{ post.pub_date|date:"d E Y" }}</small>
    </div>
    {% if show_profile_link %}
        <div class="card-header bg-transparent "> 
            Автор: <a href="{% url 'posts:profile' post.author.username %}">{{ post.author.get_full_name }}</a>
        </div>
    {% endif %}

    <p class="card-text">{{ post.text|linebreaksbr }}</p>
    <a 
       type="button" 
       class="btn badge bg-light text-dark position-relative" 
       href="{% url 'posts:post_detail' post.id %}"
    >
        подробная информация
    </a>
    <br>
    {% if post.group and show_group_link == True %}
        <a 
           type="button" 
           class="btn badge bg-light text-dark position-relative" 
           href="{% url 'posts:group_list' post.group.slug %}"
        >
            Все записи группы {{ post.group.title }}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ post.group.posts.count }}
            </span>
        </a>

    {% endif %} 
</article>

