{% extends "base.html" %}
{% load static %}

<img src="{% static 'image/SayHi.svg' %}" width="100" height="55" class="d-inline-block align-top" alt="">

{% block content %}
{% load user_filters %}


<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            
            {% include 'includes/author_card.html' with author=author posts_count=paginator.count %}
   
            {% if author.username != request.user.username %}         
           
                {% if following %}
                <a class="my-btn" href="{% url 'profile_unfollow' author.username %}" role="button">
                    Отписаться
                </a>
                {% else %}
                <a class="my-btn-2" href="{% url 'profile_follow' author.username %}" role="button">
                    Подписаться
                </a>
                {% endif %}
           
            {% endif %}
        </div>

        <div class="col-md-9">
            {% for post in page %}
            {% include "includes/post_item.html" with post=post %}
            {% endfor %}
            {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}

