{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load static %}
<div class="row">
    <h1>Средства разработки</h1>
    <aside class="col">
        <img src="{% static 'image/jango.png' %}" width="100" height="100" class="mx-auto" alt="">
        <h2></h2>
        <a>Для реализации приложения использовалась Django — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC. Проект поддерживается организацией Django Software Foundation.</a> 
    </aside>
    <article class="col">
        <img src="{% static 'image/jangorest.png' %}" width="200" height="100" class="mx-auto" alt="">
        <h2></h2>
        <a>Django Rest Framework (DRF) — это библиотека, которая работает со стандартными моделями Django для создания гибкого и мощного API для проекта. Эта статья поможет понять структуру DRF и дать вводные данные для начала его использования.</a> 
        
    </article>
    <article class="col">
        <img src="{% static 'image/sqlite.png' %}" width="200" height="100" class="mx-auto" alt="">
        <h2></h2>
        <a>В роли локального хранилища выступила SQLite – встраиваемая кроссплатформенная БД, которая поддерживает полный набор команд SQL и доступна в исходных кодах. Ввиду большой популярности и простоты использования выбран SQLite</a> 
    </article>
    <div class="row">
  <aside class="col">
      <img src="{% static 'image/bootstrap.svg' %}" width="200" height="100" class="mx-auto" alt="">
      <h2></h2>
        <a>Для дополнительной стилистики сайта использовался Bootstrap — это открытый и бесплатный HTML, CSS и JS фреймворк, который используется веб-разработчиками для быстрой вёрстки адаптивных дизайнов сайтов и веб-приложений.</a> </aside>
  <aside class="col">
      <img src="{% static 'image/html.png' %}" width="200" height="100" class="mx-auto" alt="">
      <h2></h2>
        <a>В качестве верски страниц приложения использовался HTML (от английского HyperText Markup Language) — это язык гипертекстовой разметки текста. Он нужен, чтобы размещать на веб-странице элементы: текст, картинки, таблицы и видео.</a> </aside>
</div>
</div>
{% endblock %}