{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class = "card border-secondary mb-3"> 
    <div class = "card-body text-dark">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <small class="text-muted">Дата публикации: {{ post.pub_date|date:"d E Y" }}</small>
        </li>

        {% if post.group %}
        <li class="list-group-item">

            <a type="button" class="btn badge bg-light text-dark position-relative" href="{% url 'posts:group_list' post.group.slug %}">
                # {{ post.group.title }}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                    {{ post.group.posts.count }}
                </span>
            </a>
            {% endif %}
        </li>
        <li class="list-group-item">
            Автор: {{ post.author.get_full_name }}
            <a type="button" class="btn badge bg-light text-dark position-relative" href="{% url 'posts:profile' post.author %}">
                Все посты пользователя
            </a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Всего постов автора: <span>{{ post.author.posts.count }}</span>
        </li>
        <li class="list-group-item">




        </li>
    </ul>


    <div class="card-body text-dark">
        {{ post.text|linebreaksbr }}

        {% if post.author == request.user %}
        <div><a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">Редактировать запись</a></div>
        {% endif %}
    </div>

        
    </div>
    
</div>
{% endblock %}